 <div class="container">
{{#each course}}
        <div class="card">
            <img class="img-responsive" src="{{this.mapurl}}" alt="satellite image of the hole">
                <div class="well well-sm">
                    <h2>{{this.hole}}</h2>
                </div>
        </div>



    <div class="panel panel-default">
      
        <div class="panel-heading">Tee</div>
            
            <div class="panel-body"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Gold {{this.dt1}}
                    </label>
                </div>
                          
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                              White {{this.dt2}}
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                              Maroon {{this.dt3}}
                    </label>
                </div>
            </div>
                      

            <div class="panel-heading">Hole Score</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                        <input type="text" class="form-control" id="usr">

                    </div>
                </div>

            <div class="panel-heading">Putts</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                         <input type="text" class="form-control" id="usr">

                     </div>
                </div>

            <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                        <input type="text" class="form-control" id="usr">

                    </div>
                </div>
                <div class="panel-body">
                        <button type="submit" class="btn btn-submit">Mark Score</button>
                </div>
      
            
    </div>

    <nav aria-label="...">

        <form action="/hole/{{inc this.hole}}?_method=PUT" method="GET">
			          <button class="btn-primary" type="submit">Next Hole!</button>
		</form>
        <!-- BUTTONS -->
        <div class="col-xs-12 profile-userbuttons">
            <button type="button" class="btn btn-history btn-sm">Previous Hole</button>
            <button type="button" class="btn btn-new btn-sm">Next Hole</button>
        </div>
    </nav>
{{/each}}
    <script>
firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
          document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]
        } else {
          // User is signed out.
          // [START_EXCLUDE]
		  window.location="/";
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
          document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
          document.getElementById('quickstart-account-details').textContent = 'null';
          document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]
</script>



