
<div class="container">
    <div class="profile">
            <div class="col-xs-12">
                <div class="profile-main">

                    <!-- USERPIC -->
                    <div class="profile-userpic">
                        <img src="https://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
                            class="profilr-userpic" alt="">
                    </div>
                    {{#each users}}
                    <!-- USER NAME and HANDICAP -->
                    <div class="well well-sm">
                        <div class="profile-usertitle-name">
                            <h2>{{this.playername}}</h2>
                        </div>
                        
                    </div>
                    <!-- STATS -->
                     <div>
                        <h3>Stats</h3>
                        <ul class="list-group">
                            <li class="list-group-item">Handicap
                                <span class="badge">{{this.playermatches}}</span>
                            </li>
                            <li class="list-group-item">Games Played
                                <span class="badge">{{this.playermatches}}</span>
                            </li>
                            <li class="list-group-item">Average Score
                                <span class="badge">{{this.playeravgscore}}</span>
                            </li>
                            <li class="list-group-item">Avgerage Putts Per Hole
                                <span class="badge">{{this.playeravgputtsperhole}}</span>
                            </li>
                        </ul>
                    </div>
                    {{/each}}

                    <!-- BUTTONS -->
                    <div class="col-xs-12 profile-userbuttons">
                        <form action="/history?_method=PUT" method="GET">
			            <button class="btn-primary" type="submit">Match History</button>
		                </form>
                        <form action="/hole?_method=PUT" method="GET">
			            <button class="btn-primary" type="submit">New Match!</button>
		                </form>
                    </div>
                </div>
            </div>
    </div>


<script>
firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
          document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]
        } else {
          // User is signed out.
          // [START_EXCLUDE]
		  window.location="/";
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
          document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
          document.getElementById('quickstart-account-details').textContent = 'null';
          document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]
</script>